@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Loading screen styles */
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
}

/* Spinner animation */
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #f7b500;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide main content until page loads */
#main-content {
  display: none;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0px 1px 0px;
  font-family: poppins, sans-serif;
  z-index: 1000;
}

.logtext {
  display: flex;
  gap: 5px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-bottom: 1px solid #444;
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-family: poppins, sans-serif;
}

#mainHeader {
  transition: transform 0.3s ease-in-out;
}

#mainHeader.hidden {
  transform: translateY(-100%);
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  gap: 35px;
}

.nav-menu a {
  color: #ccc;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  transition: color 0.3s;
  font-family: poppins, sans-serif;
  text-decoration: solid;
}

.nav-menu a:hover {
  color: #f7b500;
}

.nav-menu a.active {
  font-weight: bold;
  color: #f7b500;
  border-bottom: 2px solid #f7b500;
}

.color-txt {
  color: #f7b500;
}

/* SIDEBAR STYLING */
body.no-scroll {
  overflow: hidden;
}

.sidebar {
  text-align: right;
  position: fixed;
  top: 0;
  right: -100%;
  width: 90%;
  height: 100%;
  background-color: #333;
  color: white;
  transition: right 0.5s ease;
  z-index: 1000;
  padding: 30px 0px 15px 0px;
}

.sidebar a {
  display: block;
  color: #ccc;
  text-decoration: none;
  text-align: left;
  padding: 5px 25px 5px 15px;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f7b500;
}

.sidebar p {
  text-align: left;
  padding: 5px 25px 5px 15px;
  color: #ccc;
}

.sidebar-toggle {
  display: none;
  cursor: pointer;
}

.close-sidebar {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* END */

#welcomeMessage {
  border-right: 3px solid;
  font-size: 70px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(21), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.call-button {
  border: none;
  background-color: #f7b500;
  color: #333;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.call-button:hover {
  background-color: rgb(245, 0, 0);
  color: white;
}

#hero-call-btn {
  margin-top: 150px;
}

.hero-section {
  position: relative;
  left: 0;
  right: 0;
  top: 170px;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  font-family: poppins, sans-serif;
}

.hero-background {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-wrapper {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 100%;
  height: 70vh;
}

.hero-wrapper h2 {
  font-family: poppins, sans-serif;
  width: 100%;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
}

.latest-release {
  width: 80%;
  margin: auto;
  margin-top: 250px;
}

.latest-imgs {
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  width: 90%;

  justify-content: space-between;
  margin-top: 80px;
  gap: 50px;
}

.latest-txtbkimg {
  height: 680px;
  width: 590px;

  background-color: #faf9f6;
}

.img-front {
  background-color: #333;
  border-left: 10px solid #f7b500;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img-back {
  background-color: #333;
  border-left: 10px solid #f7b500;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.aboutauthor-container {
  margin: auto;
  width: 79%;
  margin-top: 250px;
}
.author-txt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: poppins, sans-serif;
}
.author-txt-container p {
  width: 700px;
  font-size: larger;
  text-align: justify;
  font-family: poppins, sans-serif;
}

.aboutpagetxt-container h1 {
  padding: 50px 112px;
}

.authors-img {
  width: 100%;
  border-radius: 15px;
  height: 950px;
}

/*ABOUT PAGE STYLING*/

.about-page {
  margin-top: 200px;
  width: 100%;
}

.click-indicator {
  margin-left: 150px;
}
.aboutpagetxt-container {
  width: 100%;
}
.aboutpagetxt-container h1 {
  text-align: center;
}

.about-booktxt {
  font-family: poppins, sans-serif;
  width: 100%;
  text-align: justify;
}

.aboutpage-hero {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  font-family: poppins, sans-serif;
}

.image-container {
  position: relative;
  width: 350px;
  height: 650px;
  margin-top: 30px;
}

.image-container img {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 1.3s;
}

/* Individual Image Offsets */
.txt-bk {
  z-index: 5;
  transform: translate(0, 0);
  height: 500px;
}

.ss1-wkbk {
  z-index: 4;
  transform: translate(30px, 25px);
  height: 500px;
}

.ss2-wkbk {
  z-index: 3;
  transform: translate(55px, 45px);
  height: 500px;
}

.ss3-wkbk {
  z-index: 2;
  transform: translate(80px, 75px);
  height: 500px;
}

.past-q {
  z-index: 1;
  transform: translate(105px, 95px);
  height: 500px;
}

.image-container img:hover {
  transform: scale(1.1); /* Slight enlargement on hover */
  z-index: 10; /* Bring to front when hovered */
}

.additional-content {
  width: 90%;
  margin: auto;
  margin-top: 100px;
}

.table-heading {
  display: flex;
  justify-content: space-between;
}

.table-content {
  display: flex;
  justify-content: space-between;
}

/* ABOUT END */

/* PRODUCT PAGE STYLING */

.product-container {
  padding-top: 250px;
  width: 85%;
  margin: auto;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 100px;
  padding-top: 50px;
  width: 85%;
  justify-content: space-between;
}

.textbook-product-container {
  width: 500px;
  padding: 25px;
  border-left: 10px solid #f7b500;
  background-color: #333;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  gap: 50px;
}

.textbook-product-img {
  height: 600px;
  width: 100%;
  background: #ffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.product-page-anchor{
  text-decoration: none;
}

/* VIEW PRODUCT STYLNG */
.previous-page-btn {
  padding-top: 150px;
  margin: auto;
  width: 90%;
}

.previous-page-btn a {
  display: flex;
  text-decoration: none;
  color: black;
}

.previous-page-btn a img {
  width: 40px;
}

.previous-page-btn p {
  font-size: 25px;
}

.view-product {
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
   width: 80%;
  margin-top: 80px;
  gap: 50px;
}

.view-more-flex-box{
  display: flex;
  flex-wrap: wrap;
}

.product-description{
  padding: 40px;
  
}

.product-description p{
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.product-description button{
  padding: 20px 150px 20px 150px;
  border-radius: 10px;
  color: black;
  background-color: #f7b500;
  font-size: 20px;
}

.product-description button:hover{
  background-color: #e6a800;
}

.view-product-img-front {
  background-color: #333;
  border-left: 10px solid #f7b500;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 850px;
}

.view-product-img-back {
  margin-top: 150px;
  background-color: #333;
  border-left: 10px solid #f7b500;
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 850px;
}

.view-product-img {
  height: 930px;
  width: 850px;

  background-color: #faf9f6;
}

/* END */
/* END OF PRODUCT STYLING */



/* REVIEW */
.review-container {
  padding-top: 250px;
  width: 80%;
  margin: 0 auto;
}

.review-flex-box {
  margin-top: 80px;
}

.review-box {
  background: transparent;
  background-color: #5f5c5c;
  color: white;
  border-left: 10px solid #f7b500;
  -top: 1150px;
  margin: auto;
  width: 70%;
  height: auto;
  padding: 20px;
}

.review-name {
  font-size: larger;
  font-weight: bold;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-arrow {
  width: 50px;
  height: auto;
  margin-top: 50px;
  margin-bottom: -30px;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at original position */
  }
  50% {
    transform: translateY(-10px); /* Move up */
  }
}

.hover-indicator-arrow {
  width: 50px;
  height: auto;
  margin-top: 50px;
  margin-bottom: -30px;
  animation: bounce 1.5s infinite;
}

#view-more {
  background-color: #f7b500;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#view-more:hover {
  background-color: #e6a800; /* Darker shade on hover */
}

/* END */

.Whatsapp-icon {
  width: 50px;
}

.ig-icon {
  width: 40px;
}

.sticky-icons {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  float: right;
  padding: 10px;
}

/*FOOTER STYLING*/
footer {
  background-color: #333;
  color: white;
  margin-top: 90px;
  padding: 10px;
}

.footer-container {
  width: 90%;
  margin: auto;
}

.footer-heading {
  gap: 5px;
  font-family: poppins, sans-serif;
  border-bottom: 1px solid #444;
}

.help-contacts h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;
  font-family: poppins, sans-serif;
}

.footer-nav {
  justify-content: center;
  margin-top: 15px;
}

.footer-nav a {
  color: #ccc;
  text-decoration: none;
  padding: 5px;
  padding-right: 15px;
  font-size: 18px;
  transition: color 0.3s;
  font-family: poppins, sans-serif;
  text-decoration: solid;
}

.footer-nav a:hover {
  color: #f7b500;
}

footer p {
  margin: 5px 0;
  font-family: poppins, sans-serif;
}

footer a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffffff;
}

.socialmedia-icons {
  display: flex;
}

.insta-icon {
  margin-top: 3px;
}
.whatsapp-icon {
  margin-top: 3px;
}

footer img {
  width: 30px;
  margin: 0 10px;
}

footer div {
  margin: 10px 0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: -20px;
  justify-content: right;
}

.call-request {
  margin-top: 40px;
  width: 160px;
}

.call-request p {
  font-family: poppins, sans-serif;
  margin-bottom: 20px;
}

hr {
  width: 100%;
}

.rights-reserved {
  text-align: center;
}

@media (max-width: 768px) {
  .top-container {
    align-items: center;
    display: flex;
    width: 95%;
  }

  .top-container h1 {
    font-size: 20px;
  }

  /* SIDEBAR */
  .sidebar-toggle {
    display: block;
    background-color: #333;
    color: white;
    font-size: 20px;
    border: none;
  }

  .nav-menu {
    display: none;
  }

  /* END */

  .hero-section {
    flex-direction: column;
    top: 120px;
  }

  #welcomeMessage {
    font-size: 40px;
  }

  .welcomeMessage2 {
    font-size: 2px;
  }

  .latest-txtbkimg {
    width: 100%;
    height: auto;
  }

  .hero-wrapper h2 {
    font-size: 25px;
  }

  .aboutpagetxt-container {
    width: 100%;
  }

  .image-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .image-container img {
    width: 350px;
    height: auto;
  }

  .about-booktxt {
    font-size: 1em;
  }

  .about-page {
    margin-top: 140px;
    width: 100%;
  }

  .authors-img {
    width: 100%;
    height: auto;
  }

  .product-container {
    padding-top: 190px;
  }

  /* PRODUCT PAGE */

  .textbook-product-container {
    width: 550px;
  }

  .textbook-product-img {
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .review-container {
    padding-top: 190px;
  }

  .footer-container {
    flex-direction: column;
    width: 100%;
  }

  .footer-container h1 {
    font-size: 15px;
  }

  .footer-nav {
    flex-direction: column;
  }
  .contact-container,
  .call-request {
    margin-bottom: 15px;
  }
  .contact-container {
    justify-content: left;
  }
}

@media (max-width: 627px) {
  .latest-txtbkimg {
    width: 100%;
    height: auto;
  }

  .authors-img {
    width: 100%;
    height: auto;
  }

  .textbook-product-container {
    width: 500px;
  }

  .textbook-product-img {
    height: auto;
    width: 100%;
    justify-content: center;
  }
  #welcomeMessage {
    font-size: 35px;
  }
  .hero-wrapper h2 {
    font-size: 20px;
  }

  .aboutpagetxt-container {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .call-request {
    margin-top: 5px;
  }
  .footer-nav a {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  /*HOME PAGE*/

  .top-container h1 {
    font-size: 15px;
  }

  #welcomeMessage {
    font-size: 25px;
  }

  .hero-wrapper h2 {
    font-size: 1.5em;
    padding: 10px;
  }

  .about-page {
    margin-top: 160px;

    width: 100%;
  }
  .aboutpagetxt-container {
    width: 100%;
  }

  .image-container {
    flex-wrap: wrap;

    gap: 10px;
  }

  .image-container img {
    width: 350px;
    height: auto;
  }
  .aboutauthor-container h1,
  .aboutauthor-container h2 {
    font-size: larger;
  }

  .authors-img {
    width: 100%;
    height: auto;
  }

  /*ABOUT PAGE*/

  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .image-container img {
    width: 165px;
    height: auto;
  }

  .aboutpagetxt-container h1 {
    padding: 10px 20px;
    font-size: 1.5em;
    text-align: center;
  }

  .about-booktxt {
    font-size: 0.9em;
    margin-top: -250px;
    line-height: 1.4;
  }

  .latest-txtbkimg {
    width: 100%;
    height: auto;
  }

  .footer-container {
    width: 100%;
  }

  .footer-heading h1 {
    font-size: 15px;
  }

  .socialmedia-icons img {
    width: 25px;
    height: 25px;
  }

  .rights-reserved {
    font-size: 0.8em;
  }

  .contact-container {
    justify-content: left;
  }

  /* PRODUCT PAGE STYLING */
  .textbook-product-container {
    width: 350px;
    padding: 10px;
  }

  .textbook-product-img {
    height: auto;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  #welcomeMessage {
    font-size: 22px;
  }

  .hero-wrapper h2 {
    font-size: 16px;
  }

  .latest-txtbkimg {
    width: 100%;
    height: auto;
  }

  .authors-img {
    width: 100%;
    height: auto;
  }

  .about-page {
    margin-top: 160px;
    font-size: 0.8rem;
    width: 100%;
  }

  .textbook-product-container {
    width: 300px;
    padding: 8px;
  }

  .textbook-product-img {
    height: auto;
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 388px) {
  .footer-nav a {
    font-size: 14px;
  }
}

@media (max-width: 342px) {
  .top-container {
    align-items: center;
    display: flex;
    width: 95%;
  }

  #welcomeMessage {
    font-size: 20px;
  }

  .hero-wrapper h2 {
    font-size: 15px;
  }
  .latest-txtbkimg {
    width: 100%;
    height: auto;
  }

  .authors-img {
    width: 100%;
    height: auto;
  }

  .image-container {
    width: 80%;
  }
  .image-container img {
    width: 150px;
    height: auto;
  }
  .textbook-product-container {
    width: 260px;
    padding: 8px;
  }

  .textbook-product-img {
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .long-recipe {
    font-size: 18px;
  }

  .aboutpagetxt-container {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    width: 100%;
  }

  .footer-nav a {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
  }
}
